{% extends '../_base.html' %}

{% block content %}

    <section id="editar-libro" class="mt-5 row justify-content-center">
        <form method="post" class="py-3 col-6">
            <h4 class="text-success">Editar libro</h4>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.nombre.id_for_label }}" class="form-label"> {{ form.nombre.label }} </label>
                {{ form.nombre }}
            </div>

            <div class="mb-3">
                <label for="{{ form.fecha_publicacion.id_for_label }}"
                       class="form-label"> {{ form.fecha_publicacion.label }} </label>
                {{ form.fecha_publicacion }}
            </div>

            <div class="mb-3">
                <label for="{{ form.autor.id_for_label }}"
                       class="form-label"> {{ form.autor.label }} </label>
                {{ form.autor }}
            </div>

            <div class="mb-3">
                <label for="{{ form.categoria.id_for_label }}"
                       class="form-label"> {{ form.categoria.label }} </label>
                {{ form.categoria }}
            </div>

            <div class="d-flex justify-content-center">

                <button type="submit" class="btn btn-primary w-50">Enviar</button>
            </div>
        </form>
    </section>

{% endblock %}