{% extends "../_base.html" %}
{% load static %}

{% block content %}

    <h2 class="p-2 text-secondary">Libros</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Categoría</th>
            <th scope="col">Fecha publicación</th>
            <th scope="col">Acciónes</th>
        </tr>
        </thead>
        <tbody>

        {% for libro in libros %}
            <tr>
                <th scope="row">{{ libro.id }}</th>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.autor.nombre }} {{ libro.autor.apellidos }}</td>
                <td>{{ libro.get_categoria_display }}</td>
                <td>{{ libro.fecha_publicacion }}</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-sm btn-warning mx-1"
                           href="{% url 'libros:editar_libro' libro.id %}">Editar</a>

                        <a class="btn btn-sm btn-danger mx-1"
                           href="{% url 'libros:eliminar_libro' libro.id %}">Eliminar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if messages %}
        <div class="alert-container">
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <section id="crud-libro" class="mt-5 row justify-content-center">
        <form method="post" class="py-3 col-6">
            <h4 class="text-success">Nuevo libro</h4>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.nombre.id_for_label }}" class="form-label"> {{ form.nombre.label }} </label>
                {{ form.nombre }}
            </div>

            <div class="mb-3">
                <label for="{{ form.fecha_publicacion.id_for_label }}"
                       class="form-label"> {{ form.fecha_publicacion.label }} </label>
                {{ form.fecha_publicacion }}
            </div>

            <div class="mb-3">
                <label for="{{ form.autor.id_for_label }}"
                       class="form-label"> {{ form.autor.label }} </label>
                {{ form.autor }}
            </div>

            <div class="mb-3">
                <label for="{{ form.categoria.id_for_label }}"
                       class="form-label"> {{ form.categoria.label }} </label>
                {{ form.categoria }}
            </div>

            <div class="d-flex justify-content-center">

                <button type="submit" class="btn btn-primary w-50">Enviar</button>
            </div>
        </form>
    </section>


{% endblock %}